// bower:scss
@import "../../bower_components/bourbon/dist/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower
//
// Important: Reset.scss
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,400italic);
@import "libraries/reset";
@import "libraries/mixins";

// Attempting modularization :D
@import "components/variables";
@import "components/globals";
@import "components/typography";
@import "components/layout";
@import "components/navigation";
@import "components/banner";
@import "components/quote";
@import "components/join";
@import "components/footer";

html, body {
  padding: 0;
  margin: 0;
}
body {
  background: #fafafa;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font: $roboto;
  //font: 100% $roboto;
}

