footer {
  height: 100px;
  background: nth($colors, 4);
  width: 100%;
  clear: both;
  position: relative;

  ul {
    list-style-type:none;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        &:hover {
          color: nth($colors, 1);
        }
      }
    }
  }

}


.footer-section {
  display: block;
  @include outer-container();
}

.footer_container {
  @include outer_container();
  @include outer_container();
  height: 100px;
}

.copyright {
  @include span-columns(6);
  display: inline-block;
  line-height: 100px;
}

.social-media {
  @include span-columns(6);
  display: inline-block;
  line-height: 100px;
  text-align: right;
}
