footer {
  height: 100px;
  background: nth($colors, 4);
  width: 100%;
  clear: both;
  position: relative;
  line-height: 1em;

  @include media($mobile) {
    height: 150px;
    padding: 16px;
  }
  footer span {
    line-height: 1em;
  }

  ul {
    list-style-type: none;
    //vertical-align: middle;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin-right: 20px;

      @include media($mobile) {
        display: block;
        margin-right: 0;
        //padding-right: 16px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        &:hover {
          color: nth($colors, 1);
        }
      }
    }
  }

}


.footer-section {
  display: block;
  @include outer-container();
}

.footer_container {
  //@include outer_container();
}

.copyright {
  @include span-columns(6);
  display: inline-block;
  line-height: 100px;

  @include media($mobile) {
    line-height: 2em;
  }
}

.social-media {
  @include span-columns(6);
  display: inline-block;
  line-height: 100px;
  text-align: right;

  @include media($mobile) {
    line-height: 2em;
  }
}
