header {
  background: nth($colors, 4);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 999;

  @include media(max-width 900px ) {
    padding-left: 16px;
    padding-right: 24px;
  }
}

/*#mobile-header {
  display: none;
  @include media($mobile) {
    display: block;
  }
}*/

.brand-block {
  @include span-columns(2);
  position: relative;
  display: inline;
  letter-spacing: 1px;
  line-height: 100px;
  height: 100px;
  vertical-align: middle;
  padding-left: 12px;
}

.brand {
  display: inline;
  vertical-align: middle;
  //line-height: 100px;

  //display: block;
  //float: left;
  //line-height: 50px;
  //display: inline-block;
  font-weight: 400;

  @include media($mobile) {
    display: inline;
    padding-left: 16px;
  }

  img {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    //float: left;
    margin: 0;
    padding: 0;
  }

  a {
    color: nth($colors, 1);
    text-decoration: none;
    //line-height: 100px;
    //line-height: 100px;

    &:hover {
      color: #fff;
    }
  }
}


.hidden {
  display: none;

  @include media($mobile) {
    display: inline;
  }
}
.tinynav {
  display: none;
}

  @include media(max-width 800px) {
    .tinynav {
      display: inline;
      background: transparent;
      padding: 8px;
      border: 1px solid nth($colors, 1);
      font-size: 16px;
      font-weight: 100;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
      box-shadow: 0;
      height: 40px;
      -webkit-appearance: none;
      text-align: center;

      option {
        -webkit-appearance: none;
      }
    }
    #nav-menu { display: none; }
  }

nav {
  //  @extend .clearfix;
  @include span-columns(10);
  display: block;
  line-height: 100px;
  width: 50%;
  float: right;
  font-variant: small-caps;
  vertical-align: middle;
  height: 100px;
  //text-transform: uppercase;
  //
  @include media(max-width 900px) {
    font-size: 0.9em;
  }

  ul {
      //@extend .clearfix;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      vertical-align: middle;
      //text-align: right;
      float: right;
      //float: right;

    li {
      display: inline;
      //float: right;
      margin-right: 12px;
      font-weight: 100;
      -webkit-font-smoothing: subpixel-antialiased;
      font-size: golden-ratio(0.75em, 1);
      letter-spacing: 1px;

      &:last-child {
        margin-right: 0;
        clear: left;
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          border-bottom: 1px dotted nth($colors, 1);
        }
      }

      &.current {
        a {
          color : nth($colors, 1);
        }
      }
    }
  }

}

