.mission {
  @include background(url("../images/stardust.png"), repeat top);
  background-size: cover;
  position: relative;
}

.quote {
  //@include background(url("../../images/bg/triangular.png"), repeat top);
  @include background(url("../images/stardust.png"), repeat top);
  position: relative;
}

.test-bg {
  background: #aaa;
  background-size: cover;
  @include position(absolute, 0px 0px 0px 0px);
  @include background(url("../images/stardust.png"), repeat top);
  height: 100vh;
  //height: 150%;
  //overflow: hidden;


}


blockquote {
  @include fill-parent();
  //display: block;
  quotes: "“" "”" "‘" "’";

}

blockquote p {
  display: inline;
}

blockquote:before {
    //quotes: "\201C""\201D""\2018""\2019";
    content: open-quote;
    margin-right: 0.2em;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
    color: nth($colors, 1);

}

blockquote:after {
  content: close-quote;
  margin-left: 0.2em;
  font-size: 4em;
  //line-height: 0.1em;
  vertical-align: -0.5em;
  color: nth($colors, 1);
}


.author {
  text-align: right;
  float: right;
  //float: right;
}

cite {
  color: nth($colors, 1);
  //margin-top: 12px;
}