@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700|Roboto+Condensed:400);
$lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  color: #fff;
  font: 100% $lato;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: golden-ratio(12px, 3);
  text-align: center;
  color: nth($colors, 1);
  font-weight: 400;
  padding-bottom: 12px;
  font-family: $lato;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 100px;
  //line-height: golden-ratio(22px, 2);
}

p {
  font-size: golden-ratio(15px, 1);
  //line-height: golden-ratio(20px, 1);
  font-weight: 300;
}

blockquote {
  line-height: golden-ratio(20px,1);
  font-size: golden-ratio(15px, 1);
  font-weight: 300;
  cite {
    font-size: golden-ratio(14px, 1);
    font-weight: 400;
  }
}

h3 {
  margin: 0;
  padding: 0;
}

.meeting-details {
  color: nth($colors, 1);
  font-weight: 700;
  font-size: golden-ratio(11px, 1);
  line-height: 24px;
  letter-spacing: 1px
}

.dotted-ul {
  //border-bottom: 4px dotted nth($colors, 1);
}

.footer-text {
  letter-spacing: 0.6px;
  font-weight: 100;
}

footer a {
  border-bottom: 2px dotted nth($colors, 1);
  color: #fff;
  text-decoration: none;
}

a.name {
  border-bottom: 1px dotted nth($colors, 1);
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  //letter-spacing:

  &:hover {
    color: nth($colors, 1);
    //border-bottom: 2px dotted #fff;
    //font-weight: 700;

  }

}